app-button {
  display: block;
}
.button-custom {
  //   background-color: rgb(43, 73, 144);
  //   border: 1px solid rgb(43, 73, 144);
  //   color: rgb(255, 255, 255);
  min-width: 98px;
  min-height: 40px;
  border-radius: 3px;
  font-size: 14px;
}
